/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les  
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/

/*  ---------------------------------------------------------------------- *\ 
        "Améliorez la maintenabilité du code" avec les variables Sass ;
        "Addon COLORZILLA" to pick the exact color from template page (maquette) ;
        "Nommer" la variable en fonction de son "rôle" ;
\*  ---------------------------------------------------------------------- */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-greylight : #F7F7F7;
$color-background-greydark : #EDEDED;
$color-background-footer : #353535;
$color-white : #FFFFFF;
$color-icon : #7E7E7E;
$appPadding: 3rem;

/*  ---------------------------------------------------------------------- *\ 
            RESPONSIVE BREACKPOINT
            64rem X 16px de font-size = 1024 px
\*  ---------------------------------------------------------------------- */
$min-width-rem : 64rem; 