/*PARTIELS : pages/ contient les blocs de code qui ne s’appliquent 
qu’à une seule page. Vous utilisez des boutons dans tout votre site, 
en revanche votre page d’accueil comporte une section Citation 
et une grille de projets qui ne sont employés nulle part ailleurs. 
En d’autres termes, pages/ contient des règles spécifiques à une 
seule page qui ne seront pas réutilisées ailleurs ;

@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/


.proj-prev {
      color: #fff;
      margin-bottom: .25rem;
    }

    .proj-prev__heading {
          font-size: 4rem;
          padding-left: 2.5rem;
          margin: 0;
          line-height: 6rem;
        }

        .proj-prev--mint {
              color: #15DEA5;
            }