/* PARTIELS : dans utils/, vous rangez vos variables, fonctions, mixins et les  
%placeholders pour les extensions (si vous en utilisez) ;

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";*/

$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

.header {
  border: 10px solid $border-dark;
}